{% assign bullet_page = include.bullet_page %}

<li class="bullet-grid__item">
    <figure class="bullet-grid__item-figure">
        <a class="bullet-grid__item-link" href="{{ bullet_page.url | relative_url }}">
            
            {% include picture.html image=bullet_page.default_thumbnail_image alt=bullet_page.title cssClass='bullet-grid__item-image' %}
        </a>
    </figure>
    <div class="bullet-grid__definition">
        <a href="{{ bullet_page.url | relative_url }}"><h3 class="bullet-grid__title">{{ bullet_page.title }}</h3></a>
        <p>{{ bullet_page.description }}</p>
    </div>
</li>
