{% assign bullet_page = include.bullet_page %}

<li class="bullet-grid__item">
    <figure class="bullet-grid__item-figure">
        <div class="bullet-grid__item-link">
            
            {% include picture.html image=bullet_page.default_thumbnail_image alt=bullet_page.title cssClass='bullet-grid__item-image' %}
        </div>
    </figure>
    <div class="bullet-grid__definition">
        <div ><h3 class="bullet-grid__title">{{ bullet_page.title }}</h3></div>
        <p>{{ bullet_page.description }}</p>
    </div>
</li>
