{% assign section = include.section %}
<h2 class="content__title">{{ service_page.title }}</h2>
<section class="content__row" data-id="{{ section.section_id }}">
    {% assign services = section.services %}
    {% for service in services %}
        {% assign service_page = service | get_page_by_file_path %}
        
        {% assign service_pages = '/services' | get_pages | sort: 'order' %}
        
        {% include service_grid.html service_pages=service_pages cssClass=store__product-grid site=site %}
    {% endfor %}
</section>
