.content {
    @include container-properties;
    padding-top: 101px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    justify-content: center;
    text-align: center;

    &__row {
        @include container-item-properties;
        margin-bottom: 50px;
        position: relative;
        background-color: #3217a0;
        background-repeat: round;
        background-size: 500px;
        background-position: top left;
        &--direction-row { display: flex; flex-direction: row; }
        &--full-width         { max-width: none; padding: 0; }
        &--mb-0         { margin-bottom: 0; }
        @include smaller-than-tablet {
            overflow: hidden;
        
        }
    }

    &__row-title {
        color: $color_medium;
        margin-bottom: $spacing--unit*7;
        font-size: $font_size_large;
        font-family: 'Work Sans';
        font-weight: 400;
        padding-top: 1rem;
        margin-right: auto;
        margin-left: auto;

        &--light {
            color: $color_lighter;
        }

        &--dark {
            color: $color_lighter;
        }

        &--medium {
            color: $color_medium;
        }
    }
}

@each $palette in map-keys($theme_palettes) {
    .palette-#{"" + $palette} {
        .content {
            &__row-title {
                color: map-deep-get($theme-palettes, $palette, "medium");

                &--light {
                    color: map-deep-get($theme-palettes, $palette, "lighter");
                }
        
                &--dark {
                    color: map-deep-get($theme-palettes, $palette, "dark");
                }
        
                &--medium {
                    color: map-deep-get($theme-palettes, $palette, "medium");
                }
            }
            background-color: map-deep-get($theme-palettes, $palette, "medium");
        }
    }
}