.promo {
  &__section {
    &:last-child {
      margin-bottom: 0;
      background-color: #211cbe;
    }
  }

  display: flex;
  width: 100%;
  overflow: auto;

  picture {
    flex: 1;
    width: 0;
    padding-bottom: 50px;
    object-fit: cover;

    img {
      max-width: 100%;
      max-block-size: 300px;
    }
  }

  &__row {
    &--direction-row { display: flex; flex-direction: row; }
    &--full-width         { max-width: none; padding: 0; }
    &--mb-0         { margin-bottom: 0; }
    @include smaller-than-tablet {
        overflow: hidden;
    }
  }

  &__message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: $spacing--unit*4;
    flex: 1;
    width: 0;
    padding: 80px;
    color: $color_lighter;
  }

  &__title {
    font-family: $font_family_secondary;
    font-size: $font_size_xlarge;
    font-weight: lighter;
    @include smaller-than-tablet {
      font-size: $font_size_large;
      font-weight: 100;
    }
  }

  &__subtitle {
    font-size: $font_size_large;
    margin-top: $spacing--unit*3;
    margin-bottom: $spacing--unit*6;
    @include smaller-than-tablet {
      font-size: $font_size_medium;
    }
  }

  &__link {
    padding: $spacing--unit*2;
    background-size: cover;
    list-style: none;
    border: 2px solid $color_active;
    margin: 0;
    margin-bottom: $spacing--unit*3;
    border-radius: $spacing--unit * 3;
    user-select: none; // Prevents selecting text when scroll is active
  }

  &__item-button {
    position: relative;
    @include centered;
    bottom: 15px;
    right: 15px;
    border-color: #3217a0;
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }   

  @include smaller-than-tablet {
    flex-direction: column;
    &__image {
      width: auto;
      padding-bottom: 0;
      max-height: 300px;
    }

    &__message-container {
      width: auto;
      margin-top: 0;
      align-items: center;
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@each $palette in map-keys($theme_palettes) {
  .palette-#{$palette} {
    .promo {
      background-color: map-deep-get($theme-palettes, $palette, "dark");
      &__section {
        &:last-child {
          picture {
            background-color: map-deep-get($theme-palettes, $palette, "dark");
          }
        }
      }

      &__message-container {
        background-color: map-deep-get($theme-palettes, $palette, "dark");
      }
    }
  }
}